# 연습: DataFrame 1

In [9]:
#판다스를 가져오기
import pandas as pd
import numpy as np

### 예제 1 
1. Nan이 아닌 부분을 출력하시오.
2. NaN의 값을 0으로 바꾼후 출력하시오.

In [3]:
sdata = {'Ohio': 35000,
         'Texas': 71000,
         'Oregon': 16000,
         'Utah': 5000}

states = ['California', 'Ohio', 'Oregon', 'Texas'] #california is not in sdata
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [5]:
# 예제 1.1
obj4.info()

<class 'pandas.core.series.Series'>
Index: 4 entries, California to Texas
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      float64
dtypes: float64(1)
memory usage: 236.0+ bytes

In [6]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [7]:
non_na_values = obj4[obj4.notna()]
non_na_values

Ohio      35000.0
Oregon    16000.0
Texas     71000.0
dtype: float64

In [12]:
# 문제풀이
obj4.isnull(), obj4.notnull() # null인 것/null이 아닌 것 탐색

(California     True
 Ohio          False
 Oregon        False
 Texas         False
 dtype: bool,
 California    False
 Ohio           True
 Oregon         True
 Texas          True
 dtype: bool)

In [13]:
obj4[obj4.notnull()]

Ohio      35000.0
Oregon    16000.0
Texas     71000.0
dtype: float64

In [ ]:
# 예제 1.2

In [8]:
obj4_filled = obj4.fillna(0)
obj4_filled

California        0.0
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [15]:
obj4[obj4.isnull()] = 0
obj4

California        0.0
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

### 예제 2

index가 'four'인 행의 값을 [1999, 'Ohio', 3.2, 0]으로 변경하시오.

`columns=['year', 'state', 'pop', 'debt']`

In [20]:
frame = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], #debt는 없으므로 NaN으로 채움
                   index=['one', 'two', 'three', 'four', 'five']) #index를 지정해줌

frame

       year    state        pop  debt
one    2001    Seoul  123456789   NaN
two    2002    Busan   12345678   NaN
three  2003     Ohio    1234567   NaN
four   2004  Daejeon     123456   NaN
five   2005     Ohio      12345   NaN

In [21]:
# 예제 2
data = [
        [2001,"Seoul",123456789,np.nan],
        [2002,"Busan",12345678,np.nan],
        [2003,"Ohio",1234567,np.nan],
        [2004,"Daejeon",123456,np.nan],                 
        [2005,"Ohio",12345,np.nan]
        ]
data

[[2001, 'Seoul', 123456789, nan],
 [2002, 'Busan', 12345678, nan],
 [2003, 'Ohio', 1234567, nan],
 [2004, 'Daejeon', 123456, nan],
 [2005, 'Ohio', 12345, nan]]

### 예제 3
위 frame에서 index가 two, column이 state 인 값을 'Nevada'로 변경하시오.

In [22]:
# 예제 3
frame[ [2], ['state'] ] = 'Nevada'
frame

TypeError: unhashable type: 'list'

### 예제 4 
위 frame에 year=2002이고 state='Ohio' 일때 True를 갖는 etc 컬럼을 생성하시오.

In [23]:
(frame['year']==2002) & (frame['state']=='Ohio')

one      False
two      False
three    False
four     False
five     False
dtype: bool

In [ ]:
frame['etc']

### 예제 5 
1. 위 frame에서 one, three, four 행에서 year, state, etc 열만 가져와 frame2에 저장하시오.
2. 수정된 frame2에서 year > 2000, state == Ohio 인 행을 출력 하시오.

In [ ]:
# 예제 5.1

In [ ]:
# 예제 5.2

### 예제 6 
데이터 프레임의 각 행과 열의 합을 각각 계산하여 출력하시오.

In [ ]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'), #bde 열을 생성
                  index=['Utah', 'Ohio', 'Texas', 'Oregon']) #Utah, Ohio, Texas, Oregon 행을 생성
frame

In [ ]:
# 예제 6:열의 합

In [ ]:
# 예제 6: 행의 합

### 예제 7
아래 int_frame을 index, column기준으로 정렬하시오. (단, index, column 모두 정렬되어야 함)<br>

In [ ]:
int_frame = DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],
                  columns=['d', 'b', 'c', 'a']) #column 기준 정렬

In [ ]:
# 예제 7

### 예제 8
코스피와 IBM 가격정보를 불러와 상관관계를 파악하시오.
- 코스피 = '^KS11'
- IBM = 'IBM'
- 애플 = 'APLE'

# 주가 데이터를 불러올 티커 목록
tickers = ['^KS11', 'IBM', 'AAPL', 'GOOGL', 'MSFT', 'TSLA']  # AAPL: 애플, GOOGL: 구글, MSFT: 마이크로소프트, TSLA: 테슬라

In [7]:
!pip install pandas_datareader
!pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (5.2.1)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (2.2.2)
Requirement already satisfied: requests>=2.19.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (2.32.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2024.6.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)
Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
   ---------------------------------------- 0.0/109.5 kB ? eta -:--:--
   --- ------------------------------------ 10.2/109.5 kB ? eta -:--:--
   -------------- ------------------------ 41.0/109.5 kB 653.6 kB/s eta 0:00:01
   ---------------------------------------- 109.5/109.5 kB 1.3 MB/s eta 0:00:00
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in c:\users\hyeonji kim\appdata\roaming\python\python312\site-packages (0.2.46)
Requirement already satisfied: pandas>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.32.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\hyeonji kim\appdata\roaming\python\python312\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (5.2.1)
Requirement already satisfied: platformdirs>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\hyeonji kim\appdata\roaming\python\python312\site-packages (from yfinance) (3.17.7)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\hyeonji kim\appdata\roaming\python\python312\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.6.2)

In [11]:
# 예제 8
# from pandas_datareader import data as web
# all_data = {}
# for ticker in ['^KS11', 'IBM']:
#     all_data[ticker] = web.get_data_yahoo(ticker)

# price = DataFrame({tic: data['Adj Close']
#                    for tic, data in all_data.items()})

import yfinance as yf
import pandas as pd

tickers = ['^KS11', 'IBM', 'AAPL', 'GOOGL', 'MSFT', 'TSLA']
all_data = {}

# Yahoo Finance 데이터를 가져옴
for ticker in tickers:
    all_data[ticker] = yf.download(ticker)

#all_data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [14]:
# 종가 데이터를 추출하여 DataFrame 생성
price = pd.DataFrame({tic: data['Adj Close'] for tic, data in all_data.items()})
price

# 상관계수 계산
#print(price.corr())

price_corr = price.corr()
price_corr

ValueError: If using all scalar values, you must pass an index

In [15]:
import yfinance as yf
import pandas as pd

tickers = ['^KS11', 'IBM', 'AAPL', 'GOOGL', 'MSFT', 'TSLA']
all_data = {}

# Yahoo Finance 데이터를 가져옴
for ticker in tickers:
    #all_data[ticker] = yf.download(ticker)
    data_temp = yf.download(ticker)
    print (data_temp.columns)
    
    if not data_temp.empty :
        data_temp.columns = data_temp.columns.droplevel(1)
        all_data[ticker] = data_temp

#all_data

[*********************100%***********************]  1 of 1 completed

MultiIndex([('Adj Close', '^KS11'),
            (    'Close', '^KS11'),
            (     'High', '^KS11'),
            (      'Low', '^KS11'),
            (     'Open', '^KS11'),
            (   'Volume', '^KS11')],
           names=['Price', 'Ticker'])

[*********************100%***********************]  1 of 1 completed

MultiIndex([('Adj Close', 'IBM'),
            (    'Close', 'IBM'),
            (     'High', 'IBM'),
            (      'Low', 'IBM'),
            (     'Open', 'IBM'),
            (   'Volume', 'IBM')],
           names=['Price', 'Ticker'])

[*********************100%***********************]  1 of 1 completed

MultiIndex([('Adj Close', 'AAPL'),
            (    'Close', 'AAPL'),
            (     'High', 'AAPL'),
            (      'Low', 'AAPL'),
            (     'Open', 'AAPL'),
            (   'Volume', 'AAPL')],
           names=['Price', 'Ticker'])

[*********************100%***********************]  1 of 1 completed

MultiIndex([('Adj Close', 'GOOGL'),
            (    'Close', 'GOOGL'),
            (     'High', 'GOOGL'),
            (      'Low', 'GOOGL'),
            (     'Open', 'GOOGL'),
            (   'Volume', 'GOOGL')],
           names=['Price', 'Ticker'])

[*********************100%***********************]  1 of 1 completed

MultiIndex([('Adj Close', 'MSFT'),
            (    'Close', 'MSFT'),
            (     'High', 'MSFT'),
            (      'Low', 'MSFT'),
            (     'Open', 'MSFT'),
            (   'Volume', 'MSFT')],
           names=['Price', 'Ticker'])

[*********************100%***********************]  1 of 1 completed

MultiIndex([('Adj Close', 'TSLA'),
            (    'Close', 'TSLA'),
            (     'High', 'TSLA'),
            (      'Low', 'TSLA'),
            (     'Open', 'TSLA'),
            (   'Volume', 'TSLA')],
           names=['Price', 'Ticker'])

In [16]:
# 종가 데이터를 추출하여 DataFrame 생성
price = pd.DataFrame({tic: data['Adj Close'] for tic, data in all_data.items()})
price

# 상관계수 계산
#print(price.corr())

price_corr = price.corr()
price_corr

          ^KS11       IBM      AAPL     GOOGL      MSFT      TSLA
^KS11  1.000000  0.852148  0.722645  0.815326  0.683060  0.821418
IBM    0.852148  1.000000  0.718863  0.728847  0.721156  0.471351
AAPL   0.722645  0.718863  1.000000  0.976825  0.988753  0.926383
GOOGL  0.815326  0.728847  0.976825  1.000000  0.982374  0.900297
MSFT   0.683060  0.721156  0.988753  0.982374  1.000000  0.889371
TSLA   0.821418  0.471351  0.926383  0.900297  0.889371  1.000000

### 예제 9
1. 2~3행에서 '0'컬럼을 None으로 변경 하시오.
2. 0~2행에서 '2'컬럼을 None으로 변경하시오.
3. 각 컬럼의 None값들을 각 컬럼의 평균값으로 채우시오.

In [ ]:
# 예제 9.1 2~3행에서 '0'컬럼을 None으로 변경 하시오.

In [ ]:
# 예제 9.2 0~2행에서 '2'컬럼을 None으로 변경하시오.

In [ ]:
# 예제 9.3 각 컬럼의 None값들을 각 컬럼의 평균값으로 채우시오.

### 예제 10
1. multi_idx 이름으로 0 ~ 20의 값을 갖는 (5,4) 데이터 프레임을 생성하시오.
  - index 상위 색인: a, a, b, b, c
  - index 하위 색인: 1,2, 1, 2, 1
  - columns 상위 색인: 'KOR', 'KOR', 'USA', 'USA'
  - columns 하위 색인: 'Seoul', 'Busan', 'LA', 'NewYork'
2. index=b, column= KOR의 Seoul에 해당하는 값을 출력하시오.

In [ ]:
# 예제 10.1

In [ ]:
# 예제 10.2

### 예제 11
1. 위 데이터프레임에 index(key1, key2), column(Country, Region)의 이름을 설정하시오.
2. 2번째 index로 데이터 프레임을 정렬 하시오.
3. column의 레벨을 바꾸시오.

In [ ]:
# 예제 11.1

In [ ]:
# 예제 11.2

In [ ]:
# 예제 11.3

---

In [ ]:
# end of file